<br>
<h1 class="text-center"> Projets et formations </h1><br>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Started Date</th>
        <th>Target Date</th>
        <th>is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <!--   for (Todo todo: todos) {  -->
              <tr *ngFor="let todo of todos">
                <td>{{todo.description}}</td>
                <td>{{todo.startedDate | date }}</td>
                <td>{{todo.targetDte | date }}</td>
                <td>{{todo.done}}</td>
                <td><button (click)="UpdateTodo(todo.id)" class="btn btn-success">Update</button></td>
                <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
              </tr>
      <!-- } -->
    </tbody>

  </table>
  <div class="Row">
    <button class="btn btn-success" (click)="AddTodo()" >Add</button>
  </div>
</div>